/* Define variáveis CSS para cores que podem ser reutilizadas */

:root {
    --branco: #ffffff;
    --preto: #000000;
    --azul: #0000ff;
    --verde: #00ff00;
    --vermelho: #ff0000;
    --cinza: #c1c1c1;
    --chumbo: #696969;
    --smoke: #3b3b38;
}
    


* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    background-color: #000000;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #ececec;
}

#logo i {
    font-size: 40px;
}

#logo p {
    font-size: 26px;
}

#navegacao nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#navegacao nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #ececec;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: all 1s ease;
}

#navegacao nav a i {
    font-size: 25px;
}

#navegacao nav a p {
    font-size: 10px;
}

#navegacao nav a:hover {
    color: #ffcc00;
    border-top: 2px solid #ffcc00;
    border-bottom: 2px solid #ffcc00;
}

#redessociais nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#redessociais nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-decoration: none;
    color: #ececec;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: all 1s esse;
}

#redessociais nav a:hover {
    color: #ffcc00;
    border-top: 2px solid #ffcc00;
    border-bottom: 2px solid #ffcc00;
}

#redessociais nav a i {
    font-size: 28px;
}

#redessociais nav a p {
    font-size: 10px;
}

#contato nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

#contato nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: #ececec;
    text-decoration: none;
    transition: all 1s ease;
}

#contato nav a:hover {
    color: #ffcc00;
}

#contato nav a i {
    font-size: 30px;
}

#contato nav a p {
    font-size: 10px;
}

#entrar button {
    background-color: #000000;
    height: 40px;
    width: 100px;
    border: 2px solid #ececec;
    border-radius: 5px;
    color: #ececec;
    font-size: 16px;
    transition: all 1s ease;
}

#entrar button:hover {
    background-color: #ececec;
    border: 2px solid #ececec;
    border-radius: 5px;
    color: #000000;
}

#apresentacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid #000000;
    font-size: 18px;
    background-color: #FF8C00;
    padding: 0 50px 0 50px;
}

#texto {
    padding: 30px 100px 30px 100px;
}

#texto h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: #ececec;
    text-shadow: #000000 10px 10px 10px;
    text-align: center;
    margin-bottom: 40px;
}


#texto p {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    margin-bottom: 20px;
}

#apresentacao p:hover {
    transform: translateY(-10px);
    font-weight: 700px;
}


.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #331d4a;
    padding: 20px 30px;

    /*Fundo do texto h2*/
}

.cards h2 {
    font-size: 60px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ececec;
    /*Titulo, apenas texto */
}

.card-container {
    display: flex;
    justify-content: space-between;
    /* Alinha os cards com espaço entre eles */
    padding: 0 20 0 20;
    background-color: #331d4a;

    /* Espaço atras dos cards */
}

.card h3 {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    


}

.card {
    background-color: #afcacc;
    /* Cor de fundo dos cards */
    border: 3px solid #000000;
    /* Borda dos cards */
    padding:10px;
    /* Espaçamento interno */
    width: 30%;
    /* Largura dos cards */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    /* Cards */

}

.card button {
    width: 150px;
    height: 40px;
    font-weight: 700;
    border-radius: 7px;
    /* Arredondamento das bordas */
    font-size: 23px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    transition: all 1s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.card button:hover {
    opacity: 1;
    background-color: #000000;
    color: #ececec;
}

.card img {
    width: 100%;
    height: 250px;

    /* Apenas a Imagem */
}

.card img:hover {
    filter: saturate(2);
}

.card p {
    height: 100px;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* Paragrafo dentro do card */
}

.card-button {
    display: flex;
    justify-content: center;
}

.card-button button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    background-color: #ececec;
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s ease;
}

.card-button button:hover {
    background-color: #000000;
    color: #ececec;
}
.modalidade { /*fundo volei*/
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    padding: 0 100px 0 0;
    gap: 30px;
    border-top: 2px solid var(--preto);
    opacity: 0.8;
    transition: all 1s ease;
}

.modalidade {
    opacity: 1;
}

.modalidade img {
    height: 100%;
}

.modalidade img:hover {
    filter: saturate(2);
    /* Aumenta a saturação em 200% */
}

.modalidade-texto {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalidade-texto h2 {
    font-weight: 700;
    font-size: 100px;
    -webkit-text-stroke: 3px var(--preto);
    /* Cor e espessura da borda ao redor do texto */
    color: transparent;
}

.modalidade-texto h2:hover {
    color: black;
    text-shadow: 2px 2px 2px var(--cinza);
}

.modalidade p {
    margin-left: 20px;
    font-weight: 500;
    font-size: 26px;
}

.modalidade-texto h3 {
    font-weight: 600;
    font-size: 30px;
    margin-left: 40px;
}

.modalidade-texto ol {
    margin-left: 24px;
    font-size: 20px;
    margin-left: 80px;
}

.modalidade-texto button {
    margin-left: 50px;
    margin-right: 50px;
    height: 40px;
    background-color: var(--branco);
    color: var(--preto);
    border: 2px solid var(--preto);
    border-radius: 5px;
    box-shadow: 5px 5px 5px var(--chumbo);
    font-size: 16px;
    transition: all 1s ease;
}

.modalidade-texto button:hover {
    background-color: var(--preto);
    color: var(--branco);
}

/* ----------------------------------- futebol --------------------------------------*/
#futebol {
    background:#32CD32;
}

/* ----------------------------------- natacao --------------------------------------*/
#natacao {
    background: #40E0D0;
}

/* ----------------------------------- volei --------------------------------------*/
#volei {
    background: #FFFF00;
}

/* ----------------------------------- basquete --------------------------------------*/
#basquete {
    background: #FFA500;
}

/* ----------------------------------- atletismo --------------------------------------*/
#atletismo {
    background: #FF4500;
}

#comparacao{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--branco);
    color: var(--preto);
    background-color: #E0F7FA;
    border: solid var(--preto)

   }
   #comparacao h2{
    margin-bottom: 20px;
    font-size: 32px;
    text-shadow: 3px 3px 3px var(--cinza);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   #comparacao table{
    width: 70%;
    border-collapse: collapse;
    

   }
   #comparacao th,td{
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    font-size: 19px;

   }
   #comparacao th{
    background-color:#F9F9F9;
    color: black;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
   #comparacao tbody tr{
    background-color:#ececec;
    transition: all 0.5s ease;
    background-color: #4A90E2;
   }
   
  